* {
  box-sizing: 1440px;
}
body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: "Rubik Burned-Regular";
  background-color: #85909A;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200vh
}


.monster{
  position: relative;
  height: 170vh;
  
}
.pod{
  position: absolute;
  z-index: 2;
  margin-top:0%;
  margin-left: -50%;
  font-size: 280px;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  animation: text-move1 20s infinite linear;
}
@keyframes text-move1 {
  0% {transform: translateX(0)}
  100% {transform: translateX(-50.5%)}
}

.pod2{
  position: absolute;
  z-index: 2;
  margin-top: 0%;
  margin-left: -50%;
  top: 200px;
  font-size: 280px;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  animation: text-move2 30s infinite linear;
}
@keyframes text-move2 {
  0% {transform: translateX(0)}
  100% {transform: translateX(-50.5%)}
}

.pod3{
  position: absolute;
  z-index: 2;
  margin-top: 0%;
  margin-left: -50%;
  top: 400px;
  font-size: 280px;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  animation: text-move3 40s infinite linear;
}
@keyframes text-move3 {
  0% {transform: translateX(0)}
  100% {transform: translateX(-50.5%)}
}

.pod4{
  position: absolute;
  z-index: 2;
  margin-top: 0%;
  margin-left: -50%;
  top: 600px;
  font-size: 280px;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  animation: text-move4 50s infinite linear;
}
@keyframes text-move4 {
  0% {transform: translateX(0)}
  100% {transform: translateX(-50.5%)}
}

.pod5{
  position: absolute;
  z-index: 2;
  margin-top: 0%;
  margin-left: -50%;
  top: 800px;
  font-size: 280px;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  animation: text-move5 60s infinite linear;
}
@keyframes text-move5 {
  0% {transform: translateX(0)}
  100% {transform: translateX(-50.5%)}
}

.mon{
  position: absolute; /* Позволяет позиционировать изображение относительно контейнера */
  top: 0; /* Позиция изображение сверху */
  margin-left: 0px;
  z-index: 3;
  width: 110%;
}


.card{
  position: relative;
  height: 1000px;
}

.cards{
  position: relative;
  width: 110%;
}

.o{
  position: relative;
  top: -140vh;
  margin-left: 34%;
  width: 40%;
}

.clocks{
  position: relative;
  top: -215vh;
  margin-left: 35%;
  width: 35%;
}

.star{
  position: absolute;
  left: 54%; /* Устанавливаем стрелку в центр по горизонтали */
  transform-origin: bottom; /* Устанавливаем точку вращения в основание стрелки */
  top: 73vh;
  transform-origin: 0% 0%;
  width: 15%;
}

.star2{
  position: absolute;
  left: 54%; /* Устанавливаем стрелку в центр по горизонтали */
  transform-origin: bottom; /* Устанавливаем точку вращения в основание стрелки */
  top: 72vh;
  transform-origin: 0% 0%;
  width: 8%;
}

.star{
  animation: starround 3s linear infinite;
}
@keyframes starround {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.star2{
  animation: starround 6s linear infinite;
}
@keyframes starround {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


.incedent{
  position: relative;
  height: 2000px;
}

.car{
  position: relative;
  top: 40vh;
  margin-left: 43%;
  width: 20%;
}

.car {
  animation: scale-up 2s infinite alternate; /* Анимация увеличения */
}

@keyframes scale-up {
  0% {
      transform: scale(1); /* Исходный размер */
  }
  100% {
      transform: scale(2); /* Увеличиваем до 150% */
  }
}

.chillboy {
  position: absolute;
  z-index: 3;
  top: 24%; /* Центрируем по вертикали */
  width: 40%;
  right: -500px; /* Начальная позиция вне экрана справа */
  animation: move-left 3s cubic-bezier(0.5, 0, 0.1, 2) infinite; /* Анимация перемещения */
}

@keyframes move-left {
  0% {
      right: -40%; /* Начальная позиция (вне экрана справа) */
  }
  100% {
      right: 100%; /* Конечная позиция (вне экрана слева) */
  }
}

.road{
  position: relative;
  top: 40vh;
}

.arms{
  position: relative;
  top: -5vh;
  left: -5%;
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%, 100% {
      transform: translateY(0); /* Начальная и конечная позиция */
  }
  50% {
      transform: translateY(-50px); /* Позиция в середине анимации */
  }
}

.user{
  top: 78vh;
  width: 130%;
  background-color: rgb(0, 0, 0);
  height: 8vw;
  position: relative;
  z-index: 1;
}
.user:hover {
  background: #ffffff;
  transition: all .2s ease-out;
}
.use{
  position: absolute;
  z-index: 2;
  margin-top: 2%;
  margin-left: -50%;
  font-size: 4vw;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  animation: text-move1 10s infinite linear;
}
@keyframes text-move1 {
  0% {transform: translateX(0)}
  100% {transform: translateX(-50.5%)}
}
.none{
  display: none;
}
